[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
motor = "*"
pyjwt = "*"
bcrypt = "*"
uvicorn = "*"
pymongo = "*"
fastapi = "*"
pydantic = {version = "*", extras = ["dotenv", "email"]}
passlib = "*"
beanie = "*"
torch = "*"
torchvision = "*"
python-multipart = "*"
matplotlib = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
